.testimonial {
    background-color: #F0D082;
  }
  @media (min-width: 576px) {
    .testimonial {
      padding-bottom: clamp(3rem, 1.7143rem + 6.4286vw, 7.5rem);
    }
  }
  .testimonial .ram-left-right {
    max-width: -moz-max-content;
    max-width: max-content;
    background-color: #fff;
    margin-inline: auto;
    padding-inline: clamp(0rem, -4.3689rem + 12.1359vw, 6.25rem);
  }
  .testimonial .container {
    padding-top: clamp(3rem, 1.7143rem + 6.4286vw, 7.5rem);
    padding-bottom: clamp(3rem, 1.7143rem + 6.4286vw, 7.5rem);
    background-color: #fff;
  }
  .testimonial .container .testimonial-txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
  }
  .testimonial .container .testimonial-grid {
    display: grid;
    grid-template-columns: 1fr;
    -moz-column-gap: 20px;
         column-gap: 20px;
    margin-top: clamp(3rem, 2.4286rem + 2.8571vw, 5rem);
    margin-bottom: clamp(2rem, 1.6786rem + 1.6071vw, 3.125rem);
  }
  @media (min-width: 992px) {
    .testimonial .container .testimonial-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @media (min-width: 1200px) {
    .testimonial .container .testimonial-grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  .testimonial .container .testimonial-grid .review {
    padding: 2rem 1rem;
    background-color: #fff;
  }
  .testimonial .container .testimonial-grid .review .review-txt p {
    font-size: 1.125rem;
    font-weight: 600;
    font-style: italic;
    margin-top: 20px;
  }
  .testimonial .container .testimonial-grid .review .review-maker {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
  }
  .testimonial .container .testimonial-grid .review .review-maker .review-name p {
    margin: 0;
    color: #F94D1C;
  }
  .testimonial .container .all-reviews {
    display: flex;
    justify-content: center;
  }
  .testimonial .container .all-reviews .button {
    padding: 12px 30px;
    background-color: #191919;
    border-color: #191919;
    color: #fff;
    flex-grow: 1;
  }
  @media (min-width: 576px) {
    .testimonial .container .all-reviews .button {
      flex-grow: 0;
    }
  }