.project-case {
    padding-top: clamp(2rem, 0.9643rem + 5.1786vw, 5.625rem);
    padding-bottom: clamp(3.5rem, 2.0915rem + 6.0094vw, 7.5rem);
  }
  .project-case .container .project-case-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .project-case .container .project-case-info h2 {
    text-align: center;
  }
  .project-case .container .project-case-grid {
    margin-top: clamp(3rem, 1.8556rem + 4.8826vw, 6.25rem);
    margin-bottom: clamp(3rem, 2.5158rem + 2.0657vw, 4.375rem);
    display: grid;
    grid-template-columns: 1fr;
    -moz-column-gap: 30px;
         column-gap: 30px;
    row-gap: 40px;
  }
  @media (min-width: 768px) {
    .project-case .container .project-case-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  .project-case .container .project-case-grid .blog-card {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .project-case .container .project-case-grid .blog-card img {
  
    transition: opacity 0.2s ease-in-out;
  }
  .project-case .container .project-case-grid .blog-card .blog-info {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    flex: 1;
  }
  .project-case .container .project-case-grid .blog-card .blog-info h4 {
    padding-bottom: 10px;
  }
  .project-case .container .project-case-grid .blog-card .blog-info .blog-button {
    border-top: 1px solid #dad9d3;
    padding-top: 20px;
    display: flex;
    justify-content: flex-end;
  }
  .project-case .container .project-case-grid .blog-card .blog-info .blog-button p {
    font-size: 0.875rem;
  }
  .project-case .container .project-case-grid .blog-card .blog-info .blog-button p i {
    margin-left: 10px;
  }
  .project-case .container .project-case-grid .blog-card:hover img {
    opacity: 0.8;
  }
  .project-case .container .project-case-grid .blog-card:hover .blog-button {
    -webkit-text-decoration: underline #191919;
            text-decoration: underline #191919;
  }
  .project-case .container .btn-projects {
    display: flex;
    justify-content: center;
    
  }
  .project-case .container .btn-projects button {
    flex-grow: 1;
  }
  @media (min-width: 576px) {
    .project-case .container .btn-projects button {
      flex-grow: 0;
    }
  }