@media (min-width: 576px) {
    .connect-form {
      padding-bottom: clamp(0rem, -2.1429rem + 10.7143vw, 7.5rem);
    }
  }
  .connect-form .container {
    padding-top: clamp(3rem, 1.7143rem + 6.4286vw, 7.5rem);
    padding-bottom: clamp(3rem, 2.0714rem + 4.6429vw, 6.25rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: #f0efe9;
  }

  .connect-form .container h2 {
    margin-bottom: 1rem;
  }

  .connect-form .container .message-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    
  }
  .connect-form .container .message-form input {
    padding: 1rem;
    border-radius: 25px;
    border: 1px solid #fff;
    width: 100%;
  }
  .connect-form .container .message-form textarea {
    border-radius: 25px;
    padding: 1rem;
    border-color: #fff;
    resize: none;
    min-height: 240px;
    width: 100%;
  }
  .connect-form .container .message-form .button {
    padding: 12px 30px;
  }